<!-- use a loop to show all todo items at the very bottom -->
<b>Server IP: <%= ip %></b>

<p><%= firstname %> <%= lastname %></p>
<p><img width="200" src="/files/employees/<%= firstname %>.<%= lastname %>.jpg" /></p>